<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :名前, class: 'control-label' %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :説明文, class: 'control-label' %>
    <%= f.text_area :discript %>
  </div>
  <%= f.submit %>
<% end %>
