<%= search_form_for @search, url: root_path do |f| %>
  <%= f.label :packages_title_cont, "タイトル" %>
  <%= f.search_field :packages_title_cont %>
  <%= f.label :name_cont, "タイトル" %>
  <%= f.search_field :name_cont %>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>