<header>
  <%= link_to image_tag("/assets/headerimage-43044260c9c00ae390f6603ecb4c3801714aa8ef7793b4902d67d40e86565875.png"), "/" , {class: "headerimage"}%>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-fill dropdown-toggle" data-toggle="dropdown" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_photographer %></li>
              <li><%= link_to 'プロフィール編集',edit_photographer_path(current_photographer) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", session_path(current_photographer) , method: :delete %></li>
            </ul>
          </li>
        <% else %>
        <li class="dropdown">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-fill dropdown-toggle" data-toggle="dropdown" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <ul class="dropdown-menu">
            <li><%= link_to "カメラマン新規登録", new_photographer_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to "ヘルプ", "#" %></li>
          </ul>
        </li>
        <% end %>
      </ul>
</header>